{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Angular App</title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'js/services/coordsService.js' %}"></script>
    <script src="{% static 'js/services/fileService.js' %}"></script>
    <script src="{% static 'js/directives/uploadFile.js' %}"></script>
    <script src="{% static 'js/directives/changeFile.js' %}"></script>
    <script src="{% static 'js/directives/lineChart.js' %}"></script>
    <script>
    google.load('visualization', '1.0', { 'packages': ['corechart', 'gauge'] });
    google.setOnLoadCallback(function () {
        angular.bootstrap(document, ['graphicsApp']);
    });
    </script>
    <script>
        window.csrf_token = "{{ csrf_token }}";
    </script>
</head>
<body>
    <upload-file></upload-file>
    <button  line-chart ng-click="renderChart()">
        Показать график
    </button>
    <div id="gChart"></div>
</body>
</html>
